<nav>
  <div class="site-title">
    <a href="/"><h1>Blog Ninja</h1></a>
    <p>A Net Ninja Site</p>
  </div>
  <button class="dark-mode-toggle" title="L">
    <img id="moon" src="/moon.svg" alt="Moon for dark mode" width="24" height="18">
    <img id="sun" src="/sun.svg" alt="Sun for light mode" width="24" height="18">
  </button>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>